:root {
    --color-title: #383844;
    --color-text-main-page: #FFFFFF;
    --color-text-accent: #217BFD;
    --color-button: #01BA88;
    --color-bg-accent: #F7F8FF;
    --color-bg-checkend-box: #34C759;
    --color-bg-box:rgba(120, 120, 128, 0.16);
 
}