:root {
    --color-title: #383844;
    --color-title-main: #F2F2F2;
    --color-text-main-page: #FFFFFF;
    --color-text-accent: #217BFD;
    --color-button: #01BA88;
    --color-bg-accent: #F7F8FF;
    --color-bg-checkend-box: #34C759;
    --color-bg-box:rgba(120, 120, 128, 0.16);
    --color-text-btn-main: #151920;
    --color-border: #EEF1FF;
    --text-btn:#8183A1;
    --color-checkbox: #0677FF;
    --text-placeholder: #9CA3AF; 
    --background-color-modal:rgba(0, 0, 0, 0.5);
    --title-modal:#000000;
}