<div class="backdrop" data-modal id="backdrop">
  <div class="modal">
    <h1 class="modal_title">Trial commitment</h1>
    <p class="modal__text modal__text--location">
      Spend at least 3 minutes a day using Weight Loss Walking by Slimkit and follow your
      personalized instructions. Reaching your health, weight and wellbeing goals is as easy as
      following the personalised program we prepare for you. Being ready and in the right frame of
      mind for the program is key to its success, so read ahead to find out how you can prepare
      youself to be in exactly the right headspace for this. Our users tell us they have experienced
      much more success using our program than so many of the other optiond available out there - so
      try it, and see the results for yourself!
    </p>

    <button class="button">I’m in</button>
  </div>
</div>
