<ul class="list">
  <li class="item__reviews">
    <div class="wrap__reviews">
      <img
        srcset="
          ../images/images/ava-1@1x.png 1x,
          ../images/images/ava-1@2x.png 2x,
          ../images/images/ava-1@3x.png 3x
        "
        src="../images/images/ava-1@1x.png"
        alt="avatar"
        width="59"
        height="59"
      />
      <h2 class="subtitle__reviews">Joe_8</h2>
    </div>
    <div class="wrapper__reviews">
      <div class="inner__reviews">
        <img src="../images/images/stars-1.png" alt="stars" />
        <p class="grade__reviews">4.8 / 5.0</p>
      </div>
      <p class="text__reviews">
        This app is set up perfectly. Do you have a choice of music to choose from. It chimes in if
        he wants a while to update you on your progress. I can set your challenge level.
      </p>
    </div>
  </li>
  <li class="item__reviews">
    <div class="wrap__reviews">
      <img
        srcset="
          ../images/images/ava-2@1x.png 1x,
          ../images/images/ava-2@2x.png 2x,
          ../images/images/ava-2@3x.png 3x
        "
        src="../images/images/ava-2@1x.png"
        alt="avatar"
        width="59"
        height="59"
      />
      <h2 class="subtitle__reviews">T.Porteous</h2>
    </div>
    <div class="wrapper__reviews">
      <div class="inner__reviews">
        <img src="../images/images/stars-2.png" alt="stars" />
        <p class="grade__reviews">5.0 / 5.0</p>
      </div>
      <p class="text__reviews">
        This app have really help me loss weight and I feel good about myself now. I use my walking
        app three times a day so therefore. Also walking help me relax my mind.
      </p>
    </div>
  </li>
  <li class="item__reviews">
    <div class="wrap__reviews">
      <img
        srcset="
          ../images/images/ava-3@1x.png 1x,
          ../images/images/ava-3@2x.png 2x,
          ../images/images/ava-3@3x.png 3x
        "
        src="../images/images/ava-3@1x.png"
        alt="avatar"
        width="59"
        height="59"
      />
      <h2 class="subtitle__reviews">Vincent</h2>
    </div>
    <div class="wrapper__reviews">
      <div class="inner__reviews">
        <img src="../images/images/stars-3.png" alt="stars" />
        <p class="grade__reviews">4.4 / 5.0</p>
      </div>
      <p class="text__reviews">
        I love getting in a pretty good walk with my music play. The app pushes you to speed up at
        intervals and keeps track of how I am doing. This 53 year old diabetic can use all the help
        he can get.
      </p>
    </div>
  </li>
</ul>
