<ul class="list">
  <li>
    <a href="">
      <svg class="" width="40" height="40">
        <use
          width="40"
          height="40"
          href="../images/icons-sprite/symbol-defs.svg#icon-sleep-4"
        ></use>
      </svg>
      <p>Negative</p>
    </a>
  </li>
  <li>
    <a href="">
      <svg class="" width="40" height="40">
        <use
          width="40"
          height="40"
          href="../images/icons-sprite/symbol-defs.svg#icon-sleep-4"
        ></use>
      </svg>
      <p>I don’t know</p>
    </a>
  </li>
  <li>
    <a href="">
      <svg class="" width="40" height="40">
        <use
          width="40"
          height="40"
          href="../images/icons-sprite/symbol-defs.svg#icon-sleep-4"
        ></use>
      </svg>
      <p>Positively</p>
    </a>
  </li>
</ul>
