<ul class="list list__statement">
  <li class="item__statement">
    <a class="link__statement" href="../html/index-22.html">
      <svg class="" width="40" height="40">
        <use
          width="40"
          height="40"
          href="../images/icons-sprite/symbol-defs.svg#icon-content"
        ></use>
      </svg>
      <p class="text__statement">Negative</p>
    </a>
  </li>
  <li class="item__statement">
    <a class="link__statement" href="../html/index-23.html">
      <svg class="" width="40" height="40">
        <use
          width="40"
          height="40"
          href="../images/icons-sprite/symbol-defs.svg#icon-smile-2"
        ></use>
      </svg>
      <p class="text__statement">I don’t know</p>
    </a>
  </li>
  <li class="item__statement">
    <a class="link__statement" href="">
      <svg class="" width="40" height="40">
        <use
          width="40"
          height="40"
          href="../images/icons-sprite/symbol-defs.svg#icon-smile-5"
        ></use>
      </svg>
      <p class="text__statement">Positively</p>
    </a>
  </li>
</ul>
