.item__card-colummn:not(:last-child){
    margin-bottom: 15px;
}
.link__card-colummn{
    position: relative;
    display: block;
    padding-top: 28px;
    padding-left: 15px;
    padding-bottom: 27px;
    padding-right: 15px;
    background-color: var(--color-bg-accent);
    border-radius: 19px;
}

.inner__card-colummn{
    padding-left: 54px;
    
}
   .link__card-colummn svg {
      position: absolute;
      left: 15px;
      top: 50%;
    transform: translateY(-50%);

   }