.title-profile{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

.subtitle__list{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.text__list{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}

.title__main{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-title-main);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 211px;    
}

.subtitle__main{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-text-main-page);
    margin-top: 17px;
    margin-bottom: 34px;
}

.text__main{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text-main-page);
}