.title-profile{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

.subtitle__list{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.text__list{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}