.svg__happy-users{
    margin-top: 55px;
    margin-bottom: 54px;
}

.text__happy-users{
    margin-bottom: 120px;
    padding-left: 30px;
    padding-right: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}