.img__male{
    margin-top: 24px;
    margin-bottom: 24px;
}

.wrapp__male{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9px;
}

.subtitle__male{
    font-weight: 700;
    font-size: 17px;
    line-height: 1.5;
}

.text__male{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 58px;
}